<section class="full-bleed home-section">
  @if (isLoading()) {
    <div class="features-grid">
      @for (item of [0, 1, 2, 3]; track item) {
        <div class="feature-item">
          <app-skeleton width="3.7rem" height="3.7rem"></app-skeleton>

          <div class="skeleton-content">
            <app-skeleton width="50%"></app-skeleton>
            <app-skeleton width="100%"></app-skeleton>
            <app-skeleton width="80%"></app-skeleton>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="features-grid">
      @for (feature of features(); track feature.title) {
        <div class="feature-item">
          <div class="icon-box">
            <app-icon [name]="feature.iconName" />
          </div>
          <div>
            <h3>{{ feature.title }}</h3>
            <p>{{ feature.text }}</p>
          </div>
        </div>
      }
    </div>
  }
</section>
