<section class="full-bleed home-section">
  @if (isLoading()) {
    <div class="features-grid">
      @for (item of [0, 1, 2, 3]; track item) {
        <div class="feature-item">
          <app-skeleton width="3.7rem" height="3.7rem"></app-skeleton>

          <div class="skeleton-content">
            <app-skeleton width="50%"></app-skeleton>
            <app-skeleton
              width="clamp(7rem,10vw,10rem)"
              [style]="{ 'margin-top': '1rem' }"
            ></app-skeleton>
            <app-skeleton width="80%" [style]="{ 'margin-top': '0.2rem' }"></app-skeleton>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="features-grid">
      @for (feature of features(); track feature.title) {
        <div class="feature-item">
          <div class="icon-box">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              @for (path of feature.iconPaths; track path) {
                <path [attr.d]="path" />
              }
            </svg>
          </div>
          <div>
            <h3>{{ feature.title }}</h3>
            <p>{{ feature.text }}</p>
          </div>
        </div>
      }
    </div>
  }
</section>
