<section class="build">
  <div class="icon-box">
    <app-icon name="desktop" />
  </div>

  @if (state.isLoading()) {
    <div class="build-skeleton">
      <app-skeleton width="35%" height="0.8rem" />
      <app-skeleton width="80%" height="2.5rem" />

      <div>
        <app-skeleton width="90%" />
        <app-skeleton width="75%" [style]="{ 'margin-top': '0.4rem' }" />
      </div>

      <div class="skeleton-specs">
        <app-skeleton width="35%" />
        <app-skeleton width="40%" />
        <app-skeleton width="30%" />
        <app-skeleton width="35%" />
        <app-skeleton width="40%" />
      </div>

      <div class="skeleton-bottom">
        <div class="skeleton-price">
          <app-skeleton width="3rem" height="0.8rem" />
          <app-skeleton width="5rem" height="1.8rem" />
        </div>

        <app-skeleton width="10rem" height="3rem" />
      </div>
    </div>
  } @else if (state.error()) {
    <app-state-card state="error"></app-state-card>
  } @else if (state.isEmpty()) {
    <app-state-card state="empty"></app-state-card>
  } @else {
    <div class="build-content">
      <span class="build-tag">Product of the Month</span>
      <h2>{{ state.data()?.name }}</h2>
      <p>
        {{ state.data()?.description }}
      </p>

      <ul class="list-diamond">
        @for (spec of state.data()?.specs; track spec) {
          <li>{{ spec }}</li>
        }
      </ul>

      <div class="build-bottom">
        <div class="build-price">
          @if (state.data()?.oldPrice) {
            <span class="build-old-price">${{ state.data()?.oldPrice }}</span>
          }
          <span class="build-current-price">${{ state.data()?.price }}</span>
        </div>

        <a class="cta-button" routerLink="/products/pre-built-pcs">
          <span>View build</span>
          <app-icon name="arrow-right" />
        </a>
      </div>
    </div>
  }
</section>
